ul.blog-posts {
  list-style: none;
}
ul.blog-posts li {
  margin-top: 1rem;
}
.post-date {
  font-size: 1rem;
  color: #666;
}
.h2 {
  color: #000;
  font-size: 1.4rem;
}
.main-content a {
  text-decoration: underline;
}
.main-content a:hover {
  text-decoration: none;
}
